# Python
venv/
__pycache__/
*.pyc

# Django
.env
.env.*
db.sqlite3
backend/data.json

# media
/media
backend/backend/media
backend/media/

# VSCode / IntelliJ
.vscode/
.idea/

# Node
node_modules/

# Build
dist/
build/

# Logs
*.log