Django==6.0.5
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
python-decouple==3.8

django-cors-headers==4.9.0
psycopg[binary]==3.3.4
Pillow==12.2.0
gunicorn==26.0.0
whitenoise==6.11.0
cloudinary==1.44.1
django-cloudinary-storage==0.3.